openapi: 3.0.1
info:
  title: Adjustments
  description: |
    Contact Us: [USPS API Support](https://emailus.usps.com/s/usps-APIs) | [Terms of Service](https://about.usps.com/termsofuse.htm)
    The Adjustments API provides an interface for retrieving USPS shipping adjustments based on a Package Identification Code (PIC), commonly referred to as a tracking number. This API is designed to help users identify and understand discrepancies in shipping charges, such as those caused by weight, dimensions, packaging, or zone miscalculations. By leveraging this API, users can access detailed adjustment data, including root causes, pricing characteristics, and postage adjustments, enabling them to reconcile shipping costs effectively. The API supports both production and testing environments. 
    
    Additionally, it offers advanced filtering options, such as CRID, event types, and destination ZIP codes, to tailor the results to specific business needs. 
  version: 3.0.1
servers:
- url: https://apis.usps.com/adjustments/v3
  description: Production Environment Endpoint
- url: https://apis-tem.usps.com/adjustments/v3
  description: Testing Environment Endpoint
paths:
  /adjustments/{CRID}/{trackingNumber}/{eventType}:
    get:
      tags:
      - Resources
      summary: Adjustments for a tracking number
      description: The Adjustments API enables users to receive USPS Ship adjustments by a Package Identification Code (PIC) aka Tracking Number.  
      operationId: get-adjustments
      parameters:
        - name: CRID
          in: path
          description: Filter by CRID.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: trackingNumber
          in: path
          description: |
            The human-readable representation of package barcode data, commonly known as its tracking number.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: eventType
          in: path
          description: The type of event for the adjustment.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - CENSUS
            - DUPLICATES
            - UNMANIFESTED
        - name: destinationZIPCode
          in: query
          description: The destination ZIP Code&#8482;.
          required: false
          schema:
            pattern: "^\\d{5}$"
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adjustments'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "429":
          description: Too Many Requests. Too many requests have been received from client in a short amout of time.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        default:
          description: Other unanticipated errors that may occur.
          content: {}
      security:
      - OAuth:
        - adjustments
components:
  schemas:
    Links:
      title: Hypermedia Links
      type: array
      description: Hypermedia links to related resources.
      items:
        required:
        - href
        - rel
        type: object
        properties:
          rel:
            type: array
            description: The short name(s) of the relationship corresponding to the link.
            items:
              type: string
          title:
            type: string
            description: A human-readable description of the link relationship.
          href:
            type: string
            description: The URL to a related resource.
            format: uri
          method:
            type: string
            description: The HTTP method to use to access this link.
            enum:
            - GET
            - POST
            - PUT
            - DELETE
          submissionMediaType:
            type: string
            description: The media type of the resource request.
          targetMediaType:
            type: string
            description: The media type of the resource response.
        additionalProperties: false
    ErrorMessage:
      title: Error
      type: object
      properties:
        apiVersion:
          type: string
          description: The version of the API that was used and that raised the error.
        error:
          type: object
          properties:
            code:
              type: string
              description: The error status code that has been returned in response to the request.
            message:
              type: string
              description: A human-readable message describing the error.
            errors:
              type: array
              items:
                type: object
                properties:
                  status:
                    type: string
                    description: The status code response returned to the client.
                  code:
                    type: string
                    description: An internal subordinate code used for error diagnosis.
                  title:
                    type: string
                    description: A human-readable title that identifies the error.
                  detail:
                    type: string
                    description: A human-readable description of the error that occurred.
                  source:
                    type: object
                    properties:
                      parameter:
                        type: string
                        description: The input in the request which caused an error.
                      example:
                        type: string
                        description: An example of a valid value for the input parameter.
                    additionalProperties: true
                    description: The element that is suspected of originating the error.  Helps to pinpoint the problem.
                additionalProperties: true
          additionalProperties: true
          description: The high-level error that has occurred as indicated by the status code.
      additionalProperties: true
      description: Standard error message response.
    Adjustments:
      description: List of adjustments for a package
      type: array
      items:
        $ref: '#/components/schemas/AdjustmentDetails'
 
    AdjustmentDetails:
      type: object
      properties:
        trackingNumber:
          type: string
          description: The trackingNumber of the package.
          example: "920011234561234567890"
        manifestNumber:
          type: string
          description: The manifest number (or electronic file number/EFN) of the package.
          example: "927501234561234567899"
        adjustmentSubtype:
          type: string
          description: The Subscription Adjustment Subtype.
          enum:
            - CENSUS
            - DUPLICATE
            - UNMANIFESTED
          example: "CENSUS"
        details:
          type: array
          description: Root cause for Census (Zone, Weight, Destination Entry, etc..)
          items:
            type: string
            enum:
            - WEIGHT
            - DIMENSIONS
            - PACKAGING
            - ZONE
            - MIS-SHIPPED
        rootCause:
          type: array
          description: Array of root causes that contributed to the adjustment
          deprecated: true
          items:
            type: string
            enum:
            - WEIGHT
            - DIMENSIONS
            - PACKAGING
            - ZONE
            - MIS-SHIPPED
            - UNMANIFESTED
            - DUPLICATE
        pricingCharacteristics:
          description: Pricing ingredients of the adjustment
          type: array
          items:
            type: object
            properties:
              pricingCharacteristic:
                type: string
                description: |-
                  | Enumeration | Format | Example |
                  | -- | -- | -- |
                  | WEIGHT | number | 4.1 |
                  | DIM_WEIGHT | number | 11.8 |
                  | LENGTH | number | 8.6 |
                  | WIDTH | number | 4.2 |
                  | HEIGHT | number | 3.5 |
                  | ORIGIN_ZIP_CODE | string | 20260 |
                  | DESTINATION_ZIP_CODE | string | 20260 |
                  | ZONE | string | 01 |
                  | DESTINATION_ENTRY_FACILITY_TYPE | string | Temp |
                  | RATE_INDICATOR | string | SP |
                  | MAIL_CLASS | string | PRIORITY_MAIL |
                enum:
                - WEIGHT
                - DIM_WEIGHT
                - LENGTH
                - WIDTH
                - HEIGHT
                - ORIGIN_ZIP_CODE
                - DESTINATION_ZIP_CODE
                - ZONE
                - DESTINATION_ENTRY_FACILITY_TYPE
                - RATE_INDICATOR
                - MAIL_CLASS
              claimed:
                description: Manifest value of the ingredient
                type: string
              assessed:
                description: The census value for the ingredient
                type: string
        USPSPackagingBarcode:
          type: string
          description: USPS Packaging used for the shipment
        postageAdjustment:
          type: number
          description: The postage charged for the adjustment
          format: double
          example: 4.78
        totalPostage:
          type: object
          properties:
            claimed:
              description: Manifest value of the ingredient
              type: number
              format: double
              example: 7.64
            assessed:
              description: The census value for the ingredient
              type: number
              format: double
              example: 12.42
          description: The claimed and assessed total postage for the package.
        basePostage:
          type: object
          properties:
            claimed:
              description: Manifest value of the ingredient
              type: number
              format: double
              example: 7.64
            assessed:
              description: The census value for the ingredient
              type: number
              format: double
              example: 8.42
          description: The claimed and assessed base postage for the package (minus fees and extra services).
        fees:
          type: array
          description: The claimed and assessed fees for the package.
          items:
            type: object
            properties:
              name:
                description: Name of the fee 
                type: string
                enum:
                - "Nonstandard Dimension: Length > 22"
                - "Nonstandard Dimension: Length > 30"
                - "Nonstandard Dimension: Volume > 2 cubic feet"
                - "Nonstandard Dimension: Non-Compliance"
              claimedPostage:
                description: Manifest value of the ingredient for postage
                type: number
                format: double
                example: 0
              assessedPostage:
                description: The census value for the ingredient
                type: number
                format: double
                example: 4
        accountNumber:
          type: string
          description: The Enterprise Payment Account the adjustment was charged to.
        transactionID:
          type: string
          description: The Enterprise Payment System Transaction ID the adjustment was charged to.
        earliestScanDate:
          type: string
          description: Earliest Datetime USPS scanned the package.
          format: date-time
        MID:
          pattern: "^(\\d{6}|\\d{9})$"
          type: string
          description: Mailer ID used in the barcode to identify the Mail Owner associated to a shipment.
        CRID:
          maxLength: 15
          minLength: 8
          type: string
          description: Customer Registration ID used to identify the business location associated to a shipment.
          example: '123456789012345'
        adjustmentStatus:
          description: The status of the adjustment
          type: string
          enum:
          - PENDING
          - CHARGED
          - REMOVED
        extraServices:
          type: array
          description: Array of extra services associated with the shipment.
          items:
            type: object
            properties:
              extraServiceSku:
                description: SKU code for the extra service
                type: string
                example: "DXTP0EXXXCX0000"
              extraServiceAmount:
                description: Amount charged for the extra service
                type: number
                format: double
                example: 5.67
              extraServiceCode:
                description: Number associated with the extra service
                type: string
                example: "920"
        originAddress:
          type: string
          description: Origin address associated to a shipment.
        originCity:
          type: string
          description: Origin city associated to a shipment.
        originState:
          maxLength: 2
          minLength: 2
          pattern: ^(AA|AE|AL|AK|AP|AS|AZ|AR|CA|CO|CT|DE|DC|FM|FL|GA|GU|HI|ID|IL|IN|IA|KS|KY|LA|ME|MH|MD|MA|MI|MN|MS|MO|MP|MT|NE|NV|NH|NJ|NM|NY|NC|ND|OH|OK|OR|PW|PA|PR|RI|SC|SD|TN|TX|UT|VT|VI|VA|WA|WV|WI|WY)$
          type: string
          description: Origin state associated to a shipment.
        originZipCode:
          pattern: "^\\d{5}$"
          type: string
          description: Origin zipcode associated to a shipment.
        destinationAddress:
          type: string
          description: Destination address associated to a shipment.
        destinationCity:
          type: string
          description: Destination city associated to a shipment.
        destinationState:
          maxLength: 2
          minLength: 2
          pattern: ^(AA|AE|AL|AK|AP|AS|AZ|AR|CA|CO|CT|DE|DC|FM|FL|GA|GU|HI|ID|IL|IN|IA|KS|KY|LA|ME|MH|MD|MA|MI|MN|MS|MO|MP|MT|NE|NV|NH|NJ|NM|NY|NC|ND|OH|OK|OR|PW|PA|PR|RI|SC|SD|TN|TX|UT|VT|VI|VA|WA|WV|WI|WY)$
          type: string
          description: Destination state associated to a shipment.
        destinationZipCode:
          pattern: "^\\d{5}$"
          type: string
          description: Destination zipcode associated to a shipment.
        packageScanGroupingId:
          maxLength: 36
          type: string
          example: "34ad00e1-6862-4fbe-848d-2dd5f0634685"
          description: A Unique ID used to group scans for a package.
        manifestPackageId:
          maxLength: 36
          type: string
          example: "6e6315d748704af4e94c50583d88e992"
          description: A unique ID associated to a package.
        processingCategory:
          maxLength: 1
          type: string
          example: "3"
          description: A unique ID representing the processing category associated to a shipment.
        mailingDate:
          type: string
          description: Combination of Date Of Mailing and Time Of Mailing YYYYMMDD + HHMMSS
          format: date-time
      additionalProperties: false
      description: Details on adjustments that will be or have been issued to a customer account. Fields will only be provided if they differed from the original manifested data.
  parameters:
    subscriptionId:
      name: subscriptionId
      in: path
      description: The unique identifier of the subscription.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    offsetParam:
      name: offset
      in: query
      description: The number of items to skip before returning the results
      schema:
        minimum: 0
        type: integer
    limitParam:
      name: limit
      in: query
      description: The number of items to return
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
        default: 20
    IfMatch:
      name: If-Match
      in: header
      description: The value of the entity tag indicating the version of the resource to get or update. All DELETE and PUT operations require an ETag to be supplied as the If-Match parameter.  The ETag is returned in the GET operation and is good for one hour or until it is used in a DELETE or PUT operation.
      required: true
      schema:
        type: string
        example: 33a64df551425fcc55e4d42a148795d9f25f89d4
  examples:
    Subscription:
      summary: Subscription event creation request to enroll MID in all adjustment events.
      value:
        listenerURL: https://myserver.com/listener
        secret: SecretKeyPhraseThatIs32CharsLong
        adminNotification:
        - email: user@example.com
        filterProperties:
          CRID: "123456"
          eventTypes:
          - ALL
  headers:
    WWWAuthenticate:
      description: Hint to the client application which security scheme to authorize a resource request.
      required: false
      schema:
        type: string
        example: "WWW-Authenticate: Bearer realm=\"https://api.usps.com\""
    RetryAfter:
      description: Indicate to the client application a time after which they can retry a resource request.
      required: false
      schema:
        type: string
        example: "Retry-After: 30"
    ETag:
      description: Entity Tag response header indicating version of resource. All DELETE and PUT operations require an ETag.  The ETag is returned in the GET operation and is good for one hour or until it is used in a DELETE or PUT operation.
      schema:
        type: string
        example: "ETag: \"33a64df551425fcc55e4d42a148795d9f25f89d4\""
  securitySchemes:
    OAuth:
      type: oauth2
      description: The specificed APIs accept an access token formatted as a JSON Web Token. The relative path to the OAuth2 version 3 API which supplies this access token is provided below for reference.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/v3/token
          scopes:
            adjustments: Get adjustments for a tracking number.
        authorizationCode:
          authorizationUrl: /oauth2/v3/authorize
          tokenUrl: /oauth2/v3/token
          scopes:
            adjustments: Get adjustments for a tracking number.
