openapi: 3.0.0

info:
  title: International Service Standards
  description: |
    Contact Us: [USPS API Support](https://emailus.usps.com/s/usps-APIs) | [Terms of Service](https://about.usps.com/termsofuse.htm)
      
      
    This API provides service standard messages for International mailings based on destination country code and mail class.
  version: 3.0.2
  x-updated-on: 10/17/2025 - Service Delivery Calculator Team - Initial implementation. - Niraj Regmee
  x-reviewed-on: 10/20/2025 - Service Delivery Calculator Team - Update based on peer review feedback - Michael S. Salato
  x-approved-on: MM/DD/YYYY - API Governance Team

servers:
  - url: https://apis.usps.com/international-service-standard/v3
    description: Production Environment Endpoint
  - url: https://apis-tem.usps.com/international-service-standard/v3
    description: Testing Environment Endpoint

security:
- OAuth:
    - international-service-standard

paths:
  /international-service-standard:
    get:
      tags:
      - Resources
      summary: Get service standard message
      description: Retrieve the service standard message based on the provided country code and mail class.
      operationId: get-international-service-standard
      parameters:
        - name: countryCode
          in: query
          required: true
          description: The ISO 2-char country code.
          schema:
            type: string
            pattern: "^([a-zA-Z]){2}$"
            example: 'CA'
        - name: mailClass
          in: query
          required: true
          description: The international mail class can be one of `FIRST-CLASS_PACKAGE_INTERNATIONAL_SERVICE`, `PRIORITY_MAIL_INTERNATIONAL`, and `PRIORITY_MAIL_EXPRESS_INTERNATIONAL`.
          schema:
            type: string
            enum:
            - FIRST-CLASS_PACKAGE_INTERNATIONAL_SERVICE
            - PRIORITY_MAIL_INTERNATIONAL
            - PRIORITY_MAIL_EXPRESS_INTERNATIONAL
            example: 'FIRST-CLASS_PACKAGE_INTERNATIONAL_SERVICE'
      responses:
        '200':
          description: Content returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  countryCode:
                    type: string
                    description: The ISO 2-char country code.
                  mailClass:
                    type: string
                    description: The international mail class can be one of `FIRST-CLASS_PACKAGE_INTERNATIONAL_SERVICE`, `PRIORITY_MAIL_INTERNATIONAL`, and `PRIORITY_MAIL_EXPRESS_INTERNATIONAL`.
                  serviceStandardMessage:
                    type: string
                    description: The service standard message explaining number of estimated delivery days.
              examples:
                application/json:
                  value:
                    countryCode: "CA"
                    mailClass: "FIRST-CLASS_PACKAGE_INTERNATIONAL_SERVICE"
                    serviceStandardMessage: "Estimated delivery in 5-9 business days"
        '400':
          description: Bad Request. There is an error in the received request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            examples: {}
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            examples: {}
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            examples: {}
                    
components:
  schemas:
    ErrorMessage:
      title: Error
      type: object
      properties:
        apiVersion:
          type: string
          description: The version of the API that was used and that raised the error.
        error:
          type: object
          properties:
            code:
              type: string
              description: The error status code that has been returned in response to the request.
            message:
              type: string
              description: A human-readable message describing the error.
            errors:
              type: array
              items:
                type: object
                properties:
                  status:
                    type: string
                    description: The status code response returned to the client.
                  code:
                    type: string
                    description: An internal subordinate code used for error diagnosis.
                  title:
                    type: string
                    description: A human-readable title that identifies the error.
                  detail:
                    type: string
                    description: A human-readable description of the error that occurred.
                  source:
                    type: object
                    properties:
                      parameter:
                        type: string
                        description: The input in the request which caused an error.
                      example:
                        type: string
                        description: An example of a valid value for the input parameter.
                    additionalProperties: true
                    description: The element that is suspected of originating the error.  Helps to pinpoint the problem.
                additionalProperties: true
          additionalProperties: true
          description: The high-level error that has occurred as indicated by the status code.
      additionalProperties: true
      description: Standard error message response.
  securitySchemes:
    OAuth:
      type: oauth2
      description: The specified APIs accept an access token formatted as a JSON Web Token. The relative path to the OAuth2 version 3 API which supplies this access token is provided below for reference.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/v3/token
          scopes:
            international-service-standard: Read access to Service Standard.
