---
openapi: 3.0.0
info:
  title: Service Standards
  description: |

    Contact Us: [USPS API Support](https://emailus.usps.com/s/usps-APIs) | [Terms of Service](https://about.usps.com/termsofuse.htm)

    This document contains a Reference Guide to the Service Standards API's listed below: 
  
    This API provides estimated delivery standard information for ZIP Code&#8482;s with 3 or 5 digits, while taking into account non-delivery days. It covers multiple mail classes, such as Priority Mail Express&#174;, Priority Mail Express&#174; (for live animals), Priority Mail&#174;, First-Class Mail&#174; Letters, First-Class Mail&#174; Flats, First-Class Mail&#174; Cards, USPS Ground Advantage&#8482;, Bound Printed Matter, First Class Mail&#174;, Library Mail, Media Mail&#174;, Parcel Select&#174;, and Parcel Select Lightweight&#174;. To utilize this API, users need to refer to the [Service Type Code list](https://postalpro.usps.com/IMPB_Service_Type_Codes) for valid Service Type Codes.
  
    **Authentication, Authorization and Access Control**
      
      Client applications are given authorized access to protected information resources. Authorization is accomplished via the USPS&#174; Customer Onboarding Platform, where Customer Registration users may grant applications access to their protected business information. All client applications must go through this onboarding process. Any Customer Registration user wishing to share their protected business information with client application(s) may also grant authorized access.

    The OAuth2, version 3 (/v3), API is based on this authorization grant and must be used to get tokens for all V3 APIs.
    * The resulting OAuth2 access token is to be placed in the **Authorization** header, using the **Bearer** authentication scheme.
    * All version 3 APIs validate access to protected information resources and will respond with a *401* HTTP status, *Unauthorized* reason, when the client application has not been authorized to access the given information resource.

    The roles involved in payment transactions will include payment account identification.

  version: 3.1.12

servers:
  - url: https://apis.usps.com/service-standards/v3
    description: Production Environment Endpoint
  - url: https://apis-tem.usps.com/service-standards/v3
    description: Testing Environment Endpoint
paths:
  /estimates:
    get:
      tags:
        - Resources
      summary: Allows customers to get estimates on delivery standards.
      description: "Allows customers to get estimates on delivery standards between 3 or 5 digit ZIP Code&#8482;s for the selected mail classes. When requesting estimates for USPS_GROUND_ADVANTAGE two estimates will be returned (one for packages greater than or equal to a pound and one for packages less than a pound. This will be called out in the notes field) unless a weight is provided."
      operationId: get-service-standards-estimates
      parameters:
        - name: originZIPCode
          in: query
          description: "The ZIP Code&#8482; where the package is shipped from using either all 9 digits, 5 digits, or first 3 digits."
          required: true
          style: form
          explode: true
          schema:
            maxLength: 9
            minLength: 3
            pattern: "\\d{3}|\\d{5}|\\d{9}"
            type: string
        - name: destinationZIPCode
          in: query
          description: The ZIP Code&#8482; where the package is shipped to using either all 9 digits or 5 digits.
          required: true
          style: form
          explode: true
          schema:
            maxLength: 9
            minLength: 5
            pattern: "\\d{5}|\\d{9}"
            type: string
        - name: acceptanceDate
          in: query
          description: Date Package will be mailed. Acceptance date may be up to 30 days in advance. Today's date is used if omitted.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2023-06-20
        - name: acceptanceTime
          in: query
          description: Time Package will be mailed. Today's time defaults to 8:00 am if omitted.
          required: false
          style: form
          explode: true
          schema:
            pattern: "^([0-1][0-9]|2[0-3])[0-5][0-9]$"
            type: string
            example: "0800"
        - name: mailClass
          in: query
          description: |-
            The Postal Service divides mail into different services, called "classes." Each class of mail has different features, service levels, postage prices, and presort requirements.
            Note: Mail class enumerations "LETTERS", "CARDS", and FLATS" are specific to First Class Mail only.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - BOUND_PRINTED_MATTER
              - FIRST-CLASS_PACKAGE_SERVICE
              - CARDS
              - FLATS
              - LETTERS
              - LIBRARY_MAIL
              - MEDIA_MAIL
              - PARCEL_SELECT
              - PARCEL_SELECT_LIGHTWEIGHT
              - PRIORITY_MAIL
              - PRIORITY_MAIL_EXPRESS
              - USPS_GROUND_ADVANTAGE
              - ALL
        - name: destinationType
          in: query
          description: Destination type indicator for non-expedited mailing. Defaults to 'STREET' if omitted.
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: STREET
            enum:
              - STREET
              - PO_BOX
              - HOLD_FOR_PICKUP
        - name: serviceTypeCodes
          in: query
          description: "Service Type Codes are designators used to represent USPS classes of mail in conjunction with the type of Extra Service(s) being requested. For valid Service Type Code options, please refer to the [Service Type Code list](https://postalpro.usps.com/IMPB_Service_Type_Codes)."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: destinationEntryFacilityType
          in: query
          description: "Types of Facilities: \n  * NONE\n  * DESTINATION_NETWORK_DISTRIBUTION_CENTER\n  * DESTINATION_SECTIONAL_CENTER_FACILITY\n  * DESTINATION_DELIVERY_UNIT\n  * DESTINATION_SERVICE_HUB"
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - NONE
              - DESTINATION_NETWORK_DISTRIBUTION_CENTER
              - DESTINATION_SECTIONAL_CENTER_FACILITY
              - DESTINATION_DELIVERY_UNIT
              - DESTINATION_SERVICE_HUB
        - name: weight
          in: query
          description: "The weight of the package being shipped. For getting estimates with `USPS_GROUND_ADVANTAGE`, if the package weight is greater than one pound then weight will be required. `weight` is also required for Priority Mail Next Day packages and must be no greater than 20 pounds. If the package is greater than 20 pounds, it will be treated as standard Priority Mail."
          required: false
          style: form
          explode: true
          schema:
            type: number
            format: double
        - name: weightUOM
          in: query
          description: |-
            Weight Unit of Measurement
            * lb - Pounds
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: lb
            enum:
              - lb
        - name: length
          in: query
          description: "The length of the container, in dimensionsUOM. If partial dimensions are provided, an error response will return. `length`, `width`, and `height` are required only for Priority Mail Next Day packages."
          schema:
            type: number
            format: double
            minimum: 0
            exclusiveMinimum: true
        - name: height
          in: query
          description: "The height of the container, in dimensionsUOM. If partial dimensions are provided, an error response will return. `length`, `width`, and `height` are required only for Priority Mail Next Day packages."
          schema:
            type: number
            format: double
            minimum: 0
            exclusiveMinimum: true
        - name: width
          in: query
          description: "The width of the container, in dimensionsUOM. If partial dimensions are provided, an error response will return. `length`, `width`, and `height` are required only for Priority Mail Next Day packages."
          schema:
            type: number
            format: double
            minimum: 0
            exclusiveMinimum: true
        - name: dimensionsUOM
          in: query
          description: "Dimensions unit of measure \n  * in - Inches"
          schema:
            type: string
            default: in
            enum:
              - in
        - name: rateHolderCRID
          in: query
          description: Customer Registration ID (CRID) associated with the business or mailer.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/RateHolderCRID'
        - name: presort
          in: query
          description: |-
            Indicates whether the Presort feature is to be used for this mail piece. Presort is only available for `mailClass`
            values of `LETTERS`, `FLATS`, or `CARDS`.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimates'
            application/xml:
              schema:
                $ref: '#/components/schemas/Estimates'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "403":
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "404":
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        default:
          description: Other unanticipated errors that may occur.
      security:
        - OAuth:
            - service-standards
  /standards:
    get:
      tags:
        - Resources
      summary: Allows customers to get standards.
      description: "Returns the average number of days it will take a package to arrive at its destination for the selected mail class. When requesting standards for USPS_GROUND_ADVANTAGE two standards will be returned (one for packages greater than or equal to a pound and one for packages less than a pound, this will be called out in the notes field), unless a weight is provided."
      operationId: get-service-standards
      parameters:
        - name: originZIPCode
          in: query
          description: "The ZIP Code&#8482; where the package is shipped from using either all 9 digits, 5 digits, or first 3 digits."
          required: true
          style: form
          explode: true
          schema:
            maxLength: 9
            minLength: 3
            pattern: "\\d{3}|\\d{5}|\\d{9}"
            type: string
        - name: destinationZIPCode
          in: query
          description: The ZIP Code&#8482; where the package is shipped to using either all 9 digits or 5 digits.
          required: true
          style: form
          explode: true
          schema:
            maxLength: 9
            minLength: 5
            pattern: "\\d{5}|\\d{9}"
            type: string
        - name: mailClass
          in: query
          description: |-
            The Postal Service divides mail into different services, called "classes." Each class of mail has different features, service levels, postage prices, and presort requirements.
            Note: Mail class enumerations "LETTERS", "CARDS", and FLATS" are specific to First Class Mail only.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - BOUND_PRINTED_MATTER
              - FIRST-CLASS_PACKAGE_SERVICE
              - CARDS
              - FLATS
              - LETTERS
              - LIBRARY_MAIL
              - MEDIA_MAIL
              - PARCEL_SELECT
              - PARCEL_SELECT_LIGHTWEIGHT
              - PRIORITY_MAIL
              - PRIORITY_MAIL_EXPRESS
              - USPS_GROUND_ADVANTAGE
              - ALL
        - name: destinationType
          in: query
          description: Destination type indicator for non-expedited mailing. Defaults to 'STREET' if omitted.
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: STREET
            enum:
              - STREET
              - PO_BOX
              - HOLD_FOR_PICKUP
        - name: serviceTypeCodes
          in: query
          description: "Service Type Codes are designators used to represent USPS classes of mail in conjunction with the type of Extra Service(s) being requested. For valid Service Type Code options, please refer to the [Service Type Code list](https://postalpro.usps.com/IMPB_Service_Type_Codes)."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: destinationEntryFacilityType
          in: query
          description: "Types of Facilities: \n  * NONE\n  * DESTINATION_NETWORK_DISTRIBUTION_CENTER\n  * DESTINATION_SECTIONAL_CENTER_FACILITY\n  * DESTINATION_DELIVERY_UNIT\n  * DESTINATION_SERVICE_HUB"
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - NONE
              - DESTINATION_NETWORK_DISTRIBUTION_CENTER
              - DESTINATION_SECTIONAL_CENTER_FACILITY
              - DESTINATION_DELIVERY_UNIT
              - DESTINATION_SERVICE_HUB
        - name: weight
          in: query
          description: "The weight of the package being shipped. Required if looking up `USPS_GROUND_ADVANTAGE` estimates or standards. For getting estimates with `USPS_GROUND_ADVANTAGE`, if the package weight is greater than one pound then weight will be required."
          required: false
          style: form
          explode: true
          schema:
            type: number
            format: double
        - name: length
          in: query
          description: "The length of the container, in dimensionsUOM. If partial dimensions are provided, an error response will return. `length`, `width`, and `height` are required only for Priority Mail Next Day packages."
          schema:
            type: number
            format: double
            minimum: 0
            exclusiveMinimum: true
        - name: height
          in: query
          description: "The height of the container, in dimensionsUOM. If partial dimensions are provided, an error response will return. `length`, `width`, and `height` are required only for Priority Mail Next Day packages."
          schema:
            type: number
            format: double
            minimum: 0
            exclusiveMinimum: true
        - name: width
          in: query
          description: "The width of the container, in dimensionsUOM. If partial dimensions are provided, an error response will return. `length`, `width`, and `height` are required only for Priority Mail Next Day packages."
          schema:
            type: number
            format: double
            minimum: 0
            exclusiveMinimum: true
        - name: dimensionsUOM
          in: query
          description: "Dimensions unit of measure \n  * in - Inches"
          schema:
            type: string
            default: in
            enum:
              - in
        - name: rateHolderCRID
          in: query
          description: Customer Registration ID (CRID) associated with the business or mailer.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/RateHolderCRID'
        - name: presort
          in: query
          description: |-
            Indicates whether the Presort feature is to be used for this mail piece. Presort is only available for `mailClass`
            values of `LETTERS`, `FLATS`, or `CARDS`.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standards'
            application/xml:
              schema:
                $ref: '#/components/schemas/Standards'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "403":
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "404":
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        default:
          description: Other unanticipated errors that may occur.
      security:
        - OAuth:
            - service-standards
components:
  schemas:
    Estimates:
      title: Estimates
      type: array
      description: "A list of delivery estimates for the unique combination of Mail Class, Destination Type, Acceptance Location, and Delivery Time"
      items:
        $ref: '#/components/schemas/Estimate'
    Estimate:
      title: Estimate
      type: object
      properties:
        mailClass:
          type: string
          description: "MailClass from request  If left blank in the request then it will return standards for PRIORITY_MAIL_EXPRESS, PRIORITY_MAIL, FIRST_CLASS_PACKAGE_SERVICE, and PACKAGE_SERVICES which covers LIBRARY_MAIL, MEDIA_MAIL, and BOUND_PRINTED_MATTER."
          example: PRIORITY_MAIL
        notes:
          type: string
          description: When a mailClass will be returned with more than one estimate the notes will be returned with information on what differentiates the two estimates.
          enum:
            - WEIGHT_LESS_THAN_1_POUND
            - WEIGHT_GREATER_THAN_OR_EQUAL_TO_1_POUND
        destinationType:
          type: string
          description: Destination type indicator for non-expedited mailing.
          example: STREET
        acceptanceDateTime:
          type: string
          description: The requested acceptance date and time in locale time at the entry location where the mailer intends to enter the pieces into the mail stream.
          format: date-time
        effectiveAcceptanceDate:
          type: string
          description: "The effective acceptance date based on the requested acceptance date, time, and the facility cut-off times."
          format: date
          example: 2022-01-01
        cutOffTime:
          type: string
          description: The latest time packages may be entered at the acceptance location. Packages entered after the cut-off time will  have an effective date one day after the requested acceptance date and time.
          example: "1800"
        serviceStandard:
          maxLength: 2
          minLength: 2
          type: string
          description: "The service standard expected based on the origin, destination, and mail class."
          example: ' 2'
        serviceStandardMessage:
          type: string
          description: The service standard text corresponding to the code.
          example: 2 Days
        acceptanceLocations:
          $ref: '#/components/schemas/Facility'
        delivery:
          $ref: '#/components/schemas/Estimate_delivery'
        presort:
          description: Indicates whether the service standard information is for Presort mail.
          type: boolean
        isPriorityMailNextDay:
          type: boolean
          description: Indicates if the estimate is for Priority Mail Next Day service.
      additionalProperties: false
      description: "Delivery estimate for the unique combination of Mail Class, Destination Type, Acceptance Location, and Delivery Time"
    Standards:
      title: Standards
      type: array
      additionalProperties: false
      description: "A list of service standards for each unique combination of Mail Class, Acceptance Location, and Delivery Location."
      items:
        $ref: '#/components/schemas/Standard'
    Standard:
      title: Standard
      type: object
      properties:
        mailClass:
          type: string
          description: The requested mail class.
          example: PRIORITY_MAIL
        notes:
          type: string
          description: When a mailClass will be returned with more than one standard the notes will be returned with information on what differentiates the two standards.
          enum:
            - WEIGHT_LESS_THAN_1_POUND
            - WEIGHT_GREATER_THAN_OR_EQUAL_TO_1_POUND
        originZIPCode:
          type: string
          description: The ZIP Code&#8482; of the origin address.
        destinationZIPCode:
          type: string
          description: The ZIP Code&#8482; of the destination address.
        days:
          type: number
          description: The number of days it will take for the package or mail piece will be delivered.
        effectiveAcceptanceDate:
          type: string
          description: This is the effective acceptance date of the package or mail piece.
          format: date
        scheduledDeliveryDate:
          type: string
          description: |
            Date USPS expects that the package or mailpiece will be delivered based on the origin, destination, and drop-off time and date in the request. Actual delivery date may vary based on when the package or mailpiece is entered or other conditions.

            Note: This field has been deprecated in favor of `expectedDeliveryDate` and will be removed in a future release. Please transition to using `expectedDeliveryDate`.
          format: date
          deprecated: true
        expectedDeliveryDate:
          type: string
          description: This is the expected delivery date of the package or mail piece.
          format: date
        presort:
          description: Indicates whether the service standard information is for Presort mail.
          type: boolean
        isPriorityMailNextDay:
          type: boolean
          description: Indicates if the standard is for Priority Mail Next Day service.
      additionalProperties: false
      description: "A Service standard for a unique Mail Class, Acceptance Location, and Delivery Location."
    RateHolderCRID:
      title: Customer Registration ID
      maxLength: 18
      minLength: 2
      type: string
      description: A Customer Registration ID (CRID) is a USPS-generated numeric code that uniquely identifies a business at a location.
      example: "12345678"
    Facility:
      title: Facility
      additionalProperties: false
      description: This is USPS&#174; facility information.
      allOf:
        - $ref: '#/components/schemas/DomesticAddress'
        - type: object
          properties:
            facilityName:
              type: string
              description: This is the facility's name.
            facilityType:
              type: string
              description: This is the type of facility at the location.
              enum:
                - POST_OFFICE
                - EXPRESS_MAIL_COLLECTION_BOX
                - AIR_MAIL_FACILITY
                - CONTRACT_POSTAL_UNIT
            closes:
              $ref: '#/components/schemas/FacilityCloseTimes'
          additionalProperties: false
    FacilityCloseTimes:
      title: Facility Closure Times
      type: object
      properties:
        Monday:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Monday in HHmm.
          example: "1600"
        Tuesday:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Tuesday in HHmm.
          example: "1600"
        Wednesday:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Wednesday in HHmm.
          example: "1600"
        Thursday:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Thursday in HHmm.
          example: "1600"
        Friday:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Friday in HHmm.
          example: "1600"
        Saturday:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Saturday in HHmm.
          example: "1600"
        Sunday:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Sunday in HHmm.
          example: "1600"
        holidays:
          maxLength: 4
          minLength: 4
          type: string
          description: Time the location closes on Holidays in HHmm.
          example: "1600"
      additionalProperties: false
      description: "The time that the facility closes for each day, including holidays."
    ErrorMessage:
      title: Error
      type: object
      properties:
        apiVersion:
          type: string
          description: The version of the API that was used and that raised the error.
        error:
          $ref: '#/components/schemas/ErrorMessage_error'
      additionalProperties: true
      description: Standard error message response.
    DomesticAddress:
      title: Domestic Address
      additionalProperties: false
      description: Address fields for US locations.
      allOf:
        - $ref: '#/components/schemas/Address'
        - type: object
          properties:
            city:
              maxLength: 28
              minLength: 1
              type: string
              description: City Name.
            state:
              maxLength: 2
              minLength: 2
              pattern: ^(AE|AL|AK|AP|AS|AZ|AR|CA|CO|CT|DE|DC|FM|FL|GA|GU|HI|ID|IL|IN|IA|KS|KY|LA|ME|MH|MD|MA|MI|MN|MS|MO|MP|MT|NE|NV|NH|NJ|NM|NY|NC|ND|OH|OK|OR|PW|PA|PR|RI|SC|SD|TN|TX|UT|VT|VI|VA|WA|WV|WI|WY)$
              type: string
              description: 2-letter USPS state abbreviation.
            ZIPCode:
              pattern: "^\\d{5}$"
              type: string
              description: 5-digit ZIP code.
            ZIPPlus4:
              pattern: "^\\d{4}$"
              type: string
              description: ZIP+4 extension.
            urbanization:
              type: string
              description: "An area, sector, or residential development within a geographic area (typically used for addresses in Puerto Rico)."
          additionalProperties: false
    Address:
      title: Address
      type: object
      properties:
        streetAddress:
          maxLength: 50
          minLength: 1
          type: string
          description: The number of a building along with the name of the road or street on which it is located.
        streetAddressAbbreviation:
          maxLength: 50
          minLength: 0
          type: string
          description: Primary address line abbreviations.
          readOnly: true
        secondaryAddress:
          maxLength: 50
          type: string
          description: Suite or apartment number.
        cityAbbreviation:
          type: string
          description: City Name Abbreviation.
          readOnly: true
      additionalProperties: true
      description: Address fields standard to all locations.
      xml:
        name: Address
    Estimate_delivery:
      type: object
      properties:
        scheduledDeliveryDateTime:
          type: string
          description: | 
            The estimated delivery date in locale time at the destination.

            Note: This field has been deprecated in favor of `expectedDeliveryDateTime` and will be removed in a future release. Please transition to using `expectedDeliveryDateTime`.
          format: date-time
          deprecated: true
        expectedDeliveryDateTime:
          type: string
          description: The estimated delivery date in locale time at the destination.
          format: date-time
        guaranteedDelivery:
          type: boolean
          description: "If true, the scheduledDeliveryDateTime and expectedDeliveryDateTime are guaranteed."
        holdForPickupLocation:
          $ref: '#/components/schemas/Facility'
      additionalProperties: false
      description: "Section Heading that displays Delivery Date information. For all Mail Classes, occurs once for each HFPU Location. Additionally, for PME Street & PO Box, occurs once for each Customer Delivery Option."
    ErrorMessage_error_source:
      type: object
      properties:
        parameter:
          type: string
          description: The input in the request which caused an error.
        example:
          type: string
          description: An example of a valid value for the input parameter.
      additionalProperties: true
      description: The element that is suspected of originating the error.  Helps to pinpoint the problem.
    ErrorMessage_error_errors:
      type: object
      properties:
        status:
          type: string
          description: The status code response returned to the client.
        code:
          type: string
          description: An internal subordinate code used for error diagnosis.
        title:
          type: string
          description: A human-readable title that identifies the error.
        detail:
          type: string
          description: A human-readable description of the error that occurred.
        source:
          $ref: '#/components/schemas/ErrorMessage_error_source'
      additionalProperties: true
    ErrorMessage_error:
      type: object
      properties:
        code:
          type: string
          description: The error status code that has been returned in response to the request.
        message:
          type: string
          description: A human-readable message describing the error.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorMessage_error_errors'
      additionalProperties: true
      description: The high-level error that has occurred as indicated by the status code.
  parameters:
    OriginZIPCode-Required:
      name: originZIPCode
      in: query
      description: "The ZIP Code&#8482; where the package is shipped from using either all 9 digits, 5 digits, or first 3 digits."
      required: true
      style: form
      explode: true
      schema:
        maxLength: 9
        minLength: 3
        pattern: "\\d{3}|\\d{5}|\\d{9}"
        type: string
    DestinationZIPCode-Required:
      name: destinationZIPCode
      in: query
      description: The ZIP Code&#8482; where the package is shipped to using either all 9 digits or 5 digits.
      required: true
      style: form
      explode: true
      schema:
        maxLength: 9
        minLength: 5
        pattern: "\\d{5}|\\d{9}"
        type: string
    AcceptanceDate:
      name: acceptanceDate
      in: query
      description: Date Package will be mailed. Acceptance date may be up to 30 days in advance. Today's date is used if omitted.
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date
        example: 2023-06-20
    AcceptanceTime:
      name: acceptanceTime
      in: query
      description: Time Package will be mailed. Today's time defaults to 8:00 am if omitted.
      required: false
      style: form
      explode: true
      schema:
        pattern: "^([0-1][0-9]|2[0-3])[0-5][0-9]$"
        type: string
        example: "0800"
    MailClass:
      name: mailClass
      in: query
      description: |-
        The Postal Service divides mail into different services, called "classes." Each class of mail has different features, service levels, postage prices, and presort requirements.
        Note: Mail class enumerations "LETTERS", "CARDS", and FLATS" are specific to First Class Mail only.
      required: false
      style: form
      explode: true
      schema:
        type: string
        enum:
          - BOUND_PRINTED_MATTER
          - FIRST-CLASS_PACKAGE_SERVICE
          - CARDS
          - FLATS
          - LETTERS
          - LIBRARY_MAIL
          - MEDIA_MAIL
          - PARCEL_SELECT
          - PARCEL_SELECT_LIGHTWEIGHT
          - PRIORITY_MAIL
          - PRIORITY_MAIL_EXPRESS
          - USPS_GROUND_ADVANTAGE
          - ALL
    DestinationType:
      name: destinationType
      in: query
      description: Destination type indicator for non-expedited mailing. Defaults to 'STREET' if omitted.
      required: false
      style: form
      explode: true
      schema:
        type: string
        default: STREET
        enum:
          - STREET
          - PO_BOX
          - HOLD_FOR_PICKUP
    ServiceTypeCodes:
      name: serviceTypeCodes
      in: query
      description: "Service Type Codes are designators used to represent USPS classes of mail in conjunction with the type of Extra Service(s) being requested. For valid Service Type Code options, please refer to the [Service Type Code list](https://postalpro.usps.com/IMPB_Service_Type_Codes)."
      required: false
      style: form
      explode: true
      schema:
        type: string
    DestinationEntryFacilityType:
      name: destinationEntryFacilityType
      in: query
      description: "Types of Facilities: \n  * NONE\n  * DESTINATION_NETWORK_DISTRIBUTION_CENTER\n  * DESTINATION_SECTIONAL_CENTER_FACILITY\n  * DESTINATION_DELIVERY_UNIT\n  * DESTINATION_SERVICE_HUB"
      required: false
      style: form
      explode: true
      schema:
        type: string
        enum:
          - NONE
          - DESTINATION_NETWORK_DISTRIBUTION_CENTER
          - DESTINATION_SECTIONAL_CENTER_FACILITY
          - DESTINATION_DELIVERY_UNIT
          - DESTINATION_SERVICE_HUB
    Weight:
      name: weight
      in: query
      description: "The weight of the package being shipped. Required if looking up `USPS_GROUND_ADVANTAGE` estimates or standards. For getting estimates with `USPS_GROUND_ADVANTAGE`, if the package weight is greater than one pound then weight will be required."
      required: false
      style: form
      explode: true
      schema:
        type: number
        format: double
    WeightUOM:
      name: weightUOM
      in: query
      description: |-
        Weight Unit of Measurement
        * lb - Pounds
      required: false
      style: form
      explode: true
      schema:
        type: string
        default: lb
        enum:
          - lb
  securitySchemes:
    OAuth:
      type: oauth2
      description: The specified APIs accept an access token formatted as a JSON Web Token. The relative path to the OAuth2 version 3 API which supplies this access token is provided below for reference.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/v3/token
          scopes:
            service-standards: Read access to Service Standards.
        authorizationCode:
          authorizationUrl: /oauth2/v3/authorize
          tokenUrl: /oauth2/v3/token
          scopes:
            service-standards: Read access to Service Standards.
