openapi: 3.0.0
info:
  title: Package Tracking and Notification
  description: |   
    Contact Us: [USPS API Support](https://emailus.usps.com/s/usps-APIs) | [Terms of Service](https://about.usps.com/termsofuse.htm)
    
    This API allows users to retrieve detailed information about a specific USPS&#174; package or item with trackable services and barcodes. Using the USPS&#174; Tracking Request, users can view the delivery status of a given tracking number, including Priority Mail&#174;, Priority Mail Express&#174;, and Package Services (including Bound Printed Matter, Library Mail, and Media Mail&#174;) that have USPS&#174; Tracking.

    Revision 2 of the API will direct you to the new, modernized version of the Product Tracking platform. There are some differences between the Tracking API v3 and v3r2; other tracking channels, like USPS.com and Informed Delivery that are still using the official system of record v3 API will have some different messaging, information and sometimes events than v3r2. The distinctions are documented at the sites listed below. All documents can be found on the [Product Tracking and Reporting (PTR) Postal Pro site](https://postalpro.usps.com/product-tracking-and-reporting).
     * [PTR Modernization](https://postalpro.usps.com/Product-tracking-and-reporting/ptr%20modernization)
     * [USPS PTR2 API Known Issues](https://postalpro.usps.com/node/14564)
     
     By registering for the USPS&#174; Tracking by Email service, users can receive email notifications about their package tracking events. This service allows customers to submit their email address to be notified of current or future tracking activity. Users can choose to receive notifications for all updates, delivery date updates only, or delivery activity only. Whenever a mail piece receives an email notifiable event, an email with the relevant information will be generated and sent. With the new request type, users can make multiple requests for a single mail piece in a single request. Tracking status can be obtained using just the IMpb, and if multiple items are found, users can include additional details in the request. Please refer to the following links for help: 
     * [Business Customer Gateway, Mailer ID](https://gateway.usps.com/eAdmin/view/knowledge?securityId=MID)
     * [PostalPro MailerID](https://postalpro.usps.com/mailing/mailer-id)
     * [Publication 199](http://postalpro.usps.com/pub199) 
  
  version: 3.2.4
servers:
- url: https://apis.usps.com/tracking/v3r2
  description: Production Environment Endpoint
- url: https://apis-tem.usps.com/tracking/v3r2
  description: Testing Environment Endpoint
paths:
  /tracking:
    post:
      tags:
      - Resources
      summary: Get package tracking status and delivery information.
      description: |-
        This API allows users to retrieve detailed information about a specific USPS&#174; package. Using the USPS&#174; Tracking Request, individuals can view the delivery status of various mail items, such as Priority Mail&#174;, Priority Mail Express&#174;, and Package Services (including Parcel Post&#174;, Bound Printed Matter, Library Mail, and Media Mail&#174;) that have USPS&#174; Tracking. By collecting mail class and service information from Product Tracking Systems, USPS&#174; Tracking provides users with delivery status updates. By entering the tracking number, users can view the detailed delivery status of single Priority Mail&#174; and Package Service parcels with Delivery Confirmation.

        By registering for the USPS&#174; Tracking by Email service, users can receive email notifications about their package tracking events. This service allows customers to submit their email address to be notified of current or future tracking activity. Users can choose to receive notifications for all activity to date, all future activity, or both. Whenever a mail piece receives an email notifiable event, an email with the relevant information will be generated and sent. With the new request type, users can make multiple requests for a single mail piece in a single request. Tracking status can be obtained using just the IMpb, and if multiple items are found, users can include additional details in the request.
      operationId: get-package-tracking
      requestBody:
        description: Request information required to complete the tracking request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingRequest'
        required: true
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TrackingDetails'
            application/vnd.usps.TrackingDetail+xml:
              schema:
                $ref: '#/components/schemas/TrackingDetails'
            application/vnd.usps.TrackingDetail+json:
              schema:
                $ref: '#/components/schemas/TrackingDetails'
        "207":
          description: Multi-status Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiStatusResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "401":
          description: Unauthorized
          headers:
            WWW-Authenticate:
              $ref: '#/components/headers/WWWAuthenticate'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "404":
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "429":
          description: Too Many Requests. Too many requests have been received from client in a short amout of time.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "503":
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        default:
          description: An unknown error has occurred.
          content: {}
      security:
      - OAuth:
        - tracking
  /tracking/{trackingNumber}/notifications:
    post:
      tags:
      - Resources
      summary: Register for Tracking Notifications. COMING SOON!
      description: |-
        This API allows users to register up to three email addresses to receive tracking activity notifications for an item. USPS offers three different tracking activity notification options: 
        - Delivery Date Updates: Receive a message when the expected delivery date or time window is available or changes. When USPS delivers, transfers, returns, or holds your package for any reason, you will no longer receive expected delivery information.
        - Delivery Activity: Receive a message when package has been delivered, delayed, or action is needed (e.g. Schedule Redelivery or Pickup) related to your package.
        - All Updates: Receive a message any time there is a new tracking update.
      operationId: post-package-tracking-notifications
      parameters:
      - name: trackingNumber
        in: path
        description: The human-readable representation of trackable barcode data, commonly known as a tracking number.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Information required to process the tracking notification request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingNotificationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/TrackingNotificationRequest'
        required: true
      responses:
        "202":
          description: Successful posting of tracking notification request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingNotificationAcknowledgement'
            application/xml:
              schema:
                $ref: '#/components/schemas/TrackingNotificationAcknowledgement'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "401":
          description: Unauthorized
          headers:
            WWW-Authenticate:
              $ref: '#/components/headers/WWWAuthenticate'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "404":
          description: Package with tracking number not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "429":
          description: Too many requests have been received from the client in a short amount of time.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "503":
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        default:
          description: An unknown error has occurred.
          content: {}
      security:
      - OAuth:
        - tracking
  /tracking/{trackingNumber}/proof-of-delivery:
    post:
      tags:
      - Resources
      summary: Receive a proof of delivery record for a given tracking number. COMING SOON!
      description: |-
        This API allows users to request a proof of delivery record via email. 
        -	Proof of Delivery (POD) is a letter containing the delivery information, the recipient's name, the tracking number, an image of the recipient’s signature, and the printed name and address. Proof of Delivery is only available for items where a Signature Confirmation&#8482; service has been purchased or is included in the mail class.
        - Return Receipt (Electronic) is a proof of delivery record for items with Return Receipt (Electronic) service.
      operationId: proof-of-delivery
      parameters:
      - name: trackingNumber
        in: path
        description: The human-readable representation of trackable barcode data, commonly known as a tracking number.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Additional information required to process the delivery record request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProofOfDeliveryRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProofOfDeliveryRequest'
        required: true
      responses:
        "202":
          description: Successful posting of the delivery record request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofOfDeliveryAcknowledgement'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProofOfDeliveryAcknowledgement'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "401":
          description: Unauthorized
          headers:
            WWW-Authenticate:
              $ref: '#/components/headers/WWWAuthenticate'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "404":
          description: Package with tracking number not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "429":
          description: Too many requests have been received from the client in a short amount of time.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        "503":
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        default:
          description: An unknown error has occurred.
          content: {}
      security:
      - OAuth:
        - tracking
components:
  schemas:
    MultiStatusResponse:
      maxItems: 35
      minItems: 1
      type: array
      description: An array of detailed tracking event information for the requested tracking number in reverse chronological order.
      items:
        oneOf:
        - $ref: '#/components/schemas/FailureResponse'
        - $ref: '#/components/schemas/SuccessResponse'
    SuccessResponse:
      type: object
      properties:
        statusCode:
          type: string
          description: Success status code.
          default: "200"
      description: Successful operation
      allOf:
      - $ref: '#/components/schemas/TrackingDetail'
    TrackingDetails:
      maxItems: 35
      minItems: 1
      type: array
      description: An array of detailed tracking event information for the requested tracking number in reverse chronological order.
      items:
        $ref: '#/components/schemas/TrackingDetail'
    TrackingRequest:
      title: Tracking Request Parameters
      maxItems: 35
      minItems: 1
      type: array
      items:
        $ref: '#/components/schemas/TrackingRequestBody'
    TrackingRequestBody:
      title: Tracking Request Body
      required:
      - trackingNumber
      type: object
      properties:
        trackingNumber:
          type: string
          description: "Tracking ID, must be alphanumeric characters, string length is between 4 and 34."
        mailingDate:
          $ref: '#/components/schemas/MailingDate'
        destinationZIPCode:
          pattern: "^\\d{5}$"
          type: string
          description: Destination 5-digit ZIP Code&#8482;
          example: "12345"
      additionalProperties: false
      description: Parameters that are required to track an item.
    MailingDate:
      type: string
      description: Used to reconcile duplicate tracking number scenarios.
      format: date
    ErrorMessage:
      title: Error
      type: object
      properties:
        apiVersion:
          type: string
          description: The version of the API that was used and that raised the error.
        error:
          type: object
          properties:
            code:
              type: string
              description: The error status code that has been returned in response to the request.
            message:
              type: string
              description: A human-readable message describing the error.
            errors:
              type: array
              items:
                type: object
                properties:
                  status:
                    type: string
                    description: The status code response returned to the client.
                  code:
                    type: string
                    description: An internal subordinate code used for error diagnosis.
                  title:
                    type: string
                    description: A human-readable title that identifies the error.
                  detail:
                    type: string
                    description: A human-readable description of the error that occurred.
                  source:
                    type: object
                    properties:
                      parameter:
                        type: string
                        description: The input in the request which caused an error.
                      example:
                        type: string
                        description: An example of a valid value for the input parameter.
                    additionalProperties: true
                    description: The element that is suspected of originating the error.  Helps to pinpoint the problem.
                additionalProperties: true
          additionalProperties: true
          description: The high-level error that has occurred as indicated by the status code.
      additionalProperties: true
      description: Standard error message response.
    TrackingNotificationRequest:
      title: Tracking Notification Request
      required:
      - uniqueTrackingID
      - notifyEventTypes
      - recipients
      type: object
      properties:
        uniqueTrackingID:
          type: string
          description: The unique tracking identifier provided in the Tracking Detail API response.
        mailingDate:
          type: string
          description: The mailing date provided in the Tracking Detail API response.
          format: date
        notifyEventTypes:
          minItems: 1
          type: array
          description: The desired tracking notification(s).
          items:
            $ref: '#/components/schemas/NotifyEventType'
          xml:
            name: notifyEventTypes
            wrapped: true
        recipients:
          maxItems: 3
          minItems: 1
          type: array
          description: The contact information for up to 3 recipients.
          items:
            $ref: '#/components/schemas/Recipient'
          xml:
            name: recipients
            wrapped: true
      additionalProperties: false
    NotifyEventType:
      title: Notify Event Type
      type: string
      description: The tracking activity notification options.
      enum:
      - EXPECTED_DELIVERY
      - DELIVERY_ACTIVITY
      - ALL_UPDATES
    Recipient:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          format: email
          description: The email address of the recipient.
        firstName:
          maxLength: 50
          minLength: 0
          type: string
          description: The notification recipient first name.
        lastName:
          maxLength: 50
          minLength: 0
          type: string
          description: The notification recipient last name.
    TrackingNotificationAcknowledgement:
      title: Tracking Notification Acknowledgement
      type: object
      properties:
        transactionMessage:
          type: string
          description: The message returned to the user.
      additionalProperties: false
      description: The notification request response.
      xml:
        name: trackingNotificationAcknowledgement
    ProofOfDeliveryRequest:
      title: Proof of Delivery Request
      required:
      - uniqueTrackingID
      - recipients
      type: object
      properties:
        uniqueTrackingID:
          type: string
          description: The unique tracking identifier provided in the Tracking Detail API response.
        mailingDate:
          type: string
          description: The mailing date provided in the Tracking Detail API response.
          format: date
        letterType:
          type: string
          description: 'The requested notification: Proof of Delivery (POD) or Return Receipt Electronic (RRE).'
          default: PROOF_OF_DELIVERY
          enum:
          - PROOF_OF_DELIVERY
          - RETURN_RECEIPT_ELECTRONIC
        recipients:
          maxItems: 3
          minItems: 1
          type: array
          description: The contact information for up to 3 recipients.
          items:
            $ref: '#/components/schemas/ProofOfDeliveryRecipient'
          xml:
            name: recipients
            wrapped: true
        CRID:
          maxLength: 18
          minLength: 2
          type: string
          description: Unique 10-byte numeric value that’s associated to each user. A Customer Registration Identification number (CRID) is a USPS-generated numeric code that uniquely identifies a business at a location.
      xml:
        name: proofOfDeliveryRequest
    ProofOfDeliveryRecipient:
      type: object
      required:
      - email
      - firstName
      - lastName
      allOf:
      - $ref:  '#/components/schemas/Recipient'
    ProofOfDeliveryAcknowledgement:
      title: Proof of Delivery Acknowledgement
      type: object
      properties:
        transactionMessage:
          type: string
          description: The message returned to the user.
      additionalProperties: false
      description: The delivery record request response.
      xml:
        name: proofOfDeliveryAcknowledgement
    FailureResponse:
      type: object
      properties:
        statusCode:
          type: string
          description: Error status code.
          default: "404"
        trackingNumber:
          type: string
          description: "The human-readable representation of the item, commonly known as a tracking number."
      description: Error response
      readOnly: true
      allOf:
      - $ref: '#/components/schemas/ErrorMessage'
    TrackingDetail:
      title: Tracking Detail Fields
      type: object
      additionalProperties: true
      description: The detailed tracking event information for the requested tracking number in reverse chronological order.
      xml:
        name: trackingDetail
      allOf:
      - $ref: '#/components/schemas/SharedTrackingDetail'
      - type: object
        properties:
          deliveryDateExpectation:
            $ref: '#/components/schemas/DeliveryDateExpectation'
      - type: object
        properties:
          servicesEligibility:
            $ref: '#/components/schemas/ServicesEligibility'
      - type: object
        properties:
          trackingEvents:
            $ref: '#/components/schemas/TrackingEvents'
    SharedTrackingDetail:
      title: Shared Tracking Detail Fields
      type: object
      properties:
        trackingNumber:
          type: string
          description: "The human-readable representation of the item, commonly known as a tracking number."
        associatedTrackingNumber:
          type: string
          description: Additional tracking number on the item.
        destinationCity:
          type: string
          description: "The destination city. *Note: This field is no longer available as of June 2025.*"
        destinationCountry:
          maxLength: 2
          type: string
          description: "The two-character destination country code. *Note: This field is no longer available as of June 2025.*"
        destinationState:
          $ref: '#/components/schemas/State'
        destinationZIPCode:
          pattern: "^\\d{5}$"
          type: string
          description: "The destination ZIP Code&#8482;. *Note: This field is no longer available as of June 2025.*"
          example: "12345"
        kahalaIndicator:
          type: boolean
          description: Kahala Posts Group (KPG) member indicator.
        mailClass:
          type: string
          description: Indicates the mail class of the item.
        mailClassCode:
          type: string
          description: Indicates the abbreviated mail class of the item.
        mailingDate:
          $ref: '#/components/schemas/MailingDate'
        mailType:
          type: string
          description: "Indicates the mail type of the item (e.g. Domestic, International Inbound, Military Outbound)."
        originCity:
          type: string
          description: "The origin city. *Note: This field is no longer available as of June 2025.*"
        originCountry:
          maxLength: 2
          type: string
          description: "The two-character origin country code. *Note: This field is no longer available as of June 2025.*"
        originState:
          $ref: '#/components/schemas/State'
        originZIPCode:
          pattern: "^\\d{5}$"
          type: string
          description: "The origin ZIP Code&#8482;. *Note: This field is no longer available as of June 2025.*"
          example: "12345"
        services:
          type: array
          description: "Additional services on the item. May be purchased or inherent to the product. Refer to USPS&#174; [Pub 199](http://postalpro.usps.com/pub199) Appendix J: Table 7 Extra Service Codes for all possible published values."
          xml:
            name: services
            wrapped: true
          items:
            maxItems: 99
            type: string
        serviceTypeCode:
          type: string
          description: "The service type code of the item. Refer to USPS&#174; [Pub 199](http://postalpro.usps.com/pub199) Appendix I: Intelligent Mail Package Barcode Service Type Codes for all possible published values."
        status:
          type: string
          description: "The item status.  Refer to USPS&#174; [Pub 199](http://postalpro.usps.com/pub199) Appendix G-4: USPS Domestic Tracking Scan Events and Appendix G-5: Scan Event Codes - International Mail for all possible values."
        statusCategory:
          type: string
          description: "The item status category.  Refer to USPS&#174; [Pub 199](http://postalpro.usps.com/pub199) Appendix G-4: USPS Domestic Tracking Scan Events and Appendix G-5: Scan Event Codes - International Mail for all possible values."
        statusSummary:
          type: string
          description: The status summary.
          example: "Your item was delivered at 12:55 pm on April 05, 2010 in FALMOUTH, MA 02540"
        uniqueTrackingID:
          type: string
          description: The unique tracking identifier used to reconcile duplicate tracking number scenarios.
      additionalProperties: false
      description: Shared tracking attributes between internal and external requests.
    State:
      maxLength: 2
      minLength: 2
      pattern: ^(AA|AE|AL|AK|AP|AS|AZ|AR|CA|CO|CT|DE|DC|FM|FL|GA|GU|HI|ID|IL|IN|IA|KS|KY|LA|ME|MH|MD|MA|MI|MN|MS|MO|MP|MT|NE|NV|NH|NJ|NM|NY|NC|ND|OH|OK|OR|PW|PA|PR|RI|SC|SD|TN|TX|UT|VT|VI|VA|WA|WV|WI|WY)$
      type: string
      description: "The two-character state code. *Note: This field is no longer available as of June 2025.*"
    DeliveryDateExpectation:
      title: Delivery Date Expectation
      type: object
      properties:
        endOfDay:
          type: string
          description: The end of day timeframe provided is the estimated timeframe by when the carrier will attempt to deliver the package.
        expectedDeliveryDate:
          type: string
          description: "Indicates the Expected Delivery Date for an item, if available."
          format: date
        guaranteedDeliveryDate:
          $ref: '#/components/schemas/AllGuaranteedDeliveryTimes'
        guaranteedDetails:
          type: string
          description: Special messaging related to the guarantee.
        predictedDeliveryDate:
          type: string
          description: "The Predicted Delivery Date for the item, if available."
          format: date
        predictedDeliverySource:
          type: string
          description: The source providing Predicted Delivery details for the item.
        predictedDeliveryWindowStartTime:
          type: string
          description: The Predicted Delivery Window start time.
        predictedDeliveryWindowEndTime:
          type: string
          description: The Predicted Delivery Window end time.
      additionalProperties: false
      description: Detailed tracking information relative to when the item is expected to arrive.
    GuaranteedDeliveryDate:
      type: string
      description: "Guaranteed Delivery Date, date only."
      format: date
    GuaranteedDeliveryText:
      type: string
      description: "Guaranteed Delivery Date, text only (e.g. 3 Business Days)."
    GuaranteedDeliveryTimestamp:
      type: string
      description: "Guaranteed Delivery Date, date and time."
      format: date-time
    AllGuaranteedDeliveryTimes:
      description: "Guaranteed Delivery information, if available. Value may follow date, date and time, or text format (e.g. YYYY-MM-DD, YYYY-MM-DDTHH:MI, or \"# Business Days\")."
      type: string
      oneOf:
        - $ref: '#/components/schemas/GuaranteedDeliveryDate'
        - $ref: '#/components/schemas/GuaranteedDeliveryText'
        - $ref: '#/components/schemas/GuaranteedDeliveryTimestamp'
    ServicesEligibility:
      title: Service Eligibility fields
      required:
      - RREEnabled
      - proofOfDeliveryEnabled
      - trackingProofOfDeliveryEnabled
      type: object
      properties:
        proofOfDeliveryEnabled:
          type: boolean
          description: Signifies if Proof of Delivery service is enabled.
        RREEnabled:
          type: boolean
          description: Signifies if Return Receipt Electronic service is enabled.
        trackingProofOfDeliveryEnabled:
          type: boolean
          description: Signifies if Tracking Proof of Delivery service is enabled.
      additionalProperties: false
      description: Indicates whether item is eligible for various services.
    TrackingEvents:
      title: Tracking Events
      maxItems: 99
      minItems: 0
      type: array
      description: The detailed tracking event information for the requested tracking number in reverse chronological order
      xml:
        name: trackingEvents
        wrapped: true
      items:
        $ref: '#/components/schemas/TrackingEvent'
    TrackingEvent:
      title: Tracking Event Information
      type: object
      properties:
        actionCode:
          type: string
          description: Action code for the event.
        CODAmountDue:
          type: string
          description: Collect on delivery amount due. Only applicable for Arrival at Unit (07) or Available for Pickup (14) events.
        eventCity:
          type: string
          description: The city where the event occurred.
        eventCode:
          type: string
          description: Tracking event code. Refer to Domestic Scan Event list provided in USPS&#174; [Pub 199](http://postalpro.usps.com/pub199) Appendix G for all possible values.
        eventCountry:
          type: string
          description: The country where the event occurred.
        eventPartner:
          type: string
          description: The name of the partner associated to the event.
        eventState:
          type: string
          description: The state where the event occurred.
        eventTimestamp:
          $ref: '#/components/schemas/AllEventDate'
        eventType:
          type: string
          description: The description of the event (e.g. Delivery).
        eventZIPCode:
          pattern: "^\\d{5}$"
          type: string
          description: The ZIP Code&#8482; of the event.
          example: "12345"
        firm:
          maxLength: 50
          minLength: 0
          type: string
          description: The company name if delivered to a company.
        GMTTimestamp:
          type: string
          description: The date and time of the event in Greenwich Mean Time (GMT).
          format: date-time
          example: 2024-04-04T14:03:12.041Z
        GMTOffset:
          type: string
          description: The offset of the local time of the event from Greenwich Mean Time (GMT).
          example: -7:00
        reasonCode:
          type: string
          description: Reason code for the event.
        recipientName:
          type: string
          description: The name of the person signing for delivery (if available).
        veriPoint:
          type: boolean
          description: "Delivery scan location certified, if applicable."
      additionalProperties: false
      description: The detailed tracking event information for the requested tracking number in reverse chronological order.
      xml:
        name: trackingEvent
    EventDate:
      type: string
      format: date
      description: The date of the event.
      example: 2024-04-04
    EventDateTime:
      type: string
      format: date-time
      description: The date and time of the event.
      example: 2024-04-04T14:03:12-07:00
    AllEventDate:
      type: string
      oneOf:
       - $ref: '#/components/schemas/EventDate'
       - $ref: '#/components/schemas/EventDateTime'
  parameters:
    TrackingNumber:
      name: trackingNumber
      in: path
      description: "The human-readble representation of package barcode data, commonly known as its tracking number."
      required: true
      style: simple
      explode: false
      schema:
        type: string
  headers:
    WWWAuthenticate:
      description: Hint to the client application which security scheme to authorize a resource request.
      required: false
      schema:
        type: string
        example: "WWW-Authenticate: Bearer realm=\"https://api.usps.com\""
    RetryAfter:
      description: Indicate to the client application a time after which they can retry a resource request.
      required: false
      schema:
        type: string
        example: "Retry-After: 30"
  securitySchemes:
    OAuth:
      type: oauth2
      description: The specificed APIs accept an access token formatted as a JSON Web Token. The relative path to the OAuth2 version 3 API which supplies this access token is provided below for reference.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/v3/token
          scopes:
            tracking: Get tracking information and create tracking notifications.
        authorizationCode:
          authorizationUrl: /oauth2/v3/authorize
          tokenUrl: /oauth2/v3/token
          scopes:
            tracking: Get tracking information and create tracking notifications.
